@font-face{
    font-family: "robotoBlack";
    
}

*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    font-family: roboto, sans-serif;
}
header{
    background-color: #d92950;
    width: 100%;
    height: 12.5%;
    display: flex;
}
nav{
    border: 0px solid black;
    width: 100%;
    height: 100%;
    /*position: fixed;*/
    padding: .5rem 1rem;
    display: flex;
    flex-direction: row;
}
.menu{
    border: 0px solid navy;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-left: 50%;
}

nav .menu{
    justify-content: end;
}

#logo-kda{
    width: 7.5%;
    height: 97%;
}
.menu a {
    display:block;
    min-width: 120px;
    margin: 0.5rem; 
    padding: 0.4rem 0;
    text-align: center;
    color: #fff; 
    text-decoration: none;
}

.menu li {
    list-style-type: none ;
}

.menu li:hover {
    /*text-decoration: underline 2% #ff046b;*/
    border: 2px solid #ff046b;
    padding-left: -5%;
}

.container{
    width: 100%;
    height: 300%;
    display: flex;
    flex-direction: column;
}

.container-welcome{
    border: 0px solid green;
    width: 100%;
    height: 160%;
    background-color: #d92950;
    background-image: url("../img/hero-background.jpg");
    background-size: cover;
}
h1{
    text-align: center;
    font-size: 5.5vw;
    color: #fff;
}
h2{
    font-size: 2.5vw;    
}
#qualif{
    color: #ffe64d;
}
.bouton-welcome{
    width: 60%;
    height: 10%;
    border: 0px solid rgb(58, 57, 57);
    margin-left: 30%;
}
.container-welcome a{
    align-items: center;
    justify-content: space-around;   
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 15%;
    padding: 2.5%;
    text-decoration: none;
    color: #d92950;
}
.container-welcome a:hover{
    background-color: transparent;
    color: #fff;
}
.texte-welcome{
    border: 0px solid goldenrod;
    display: flex;
    width: 55%;
    text-align: center;
    margin-left: 22%;
    margin-top: 3%;
    color: #fff;
}

.icone-page{
    width: 100%;
    height: 6.5%;
    border: 0px solid magenta;
    display: flex;
    justify-content: space-around;
}
.container-developpeurs{
    display: flex;
    border: 0px solid green;
    width: 100%;
    height: 260%;
    background-color: #f1f0f3;
}

img{
    border-radius: 20px;
}

#img-section{
    width: 50%;
    height: 60%;
    margin-top: 5%;
    border: 0px solid red;
    position: relative;
}

#img-extern{
    border: 0px solid yellowgreen;
    border-radius: 20px;
    margin-left: -9.5%;
    width: 80%;
    height: 90%;
    background-size: cover;
    overflow: hidden;
}

#img-intern{
    position: relative;
    top: -45.5%;
    left:32.5%;
    border: 0px solid black;
    border-radius: 20px;
    width: 55%;
    height: 65%;
    overflow: hidden;
}
#kda-campus{
    width: 100%;
    height: 100%;
}
#kda-cohorte{
    width: 100%;
    height: 100%;
}

#text-section{
    border: 0px solid red;
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: -4.5%;
}
#text-section>h2{
    color: #424345;
    font-size: 200%;
}

.img-col1{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.img-col1>p{
    border: 0px solid orangered;
    width: 100%;
    height: 40%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#source-code{
    width: 25%;
    height: 55%;
}
#chat{
    width: 25%;
    height: 55%;
}
#lang-maternelle{
    margin-top: -33%;
}

#cup{
    width: 25%;
    height: 55%;
}
#prix{
    margin-left: 10%;
}

#earth{
    width: 25%;
    height: 55%;
}
#fuseau{
    width: 100%;
    margin-top: -33%;
    margin-left: 10%;
}

.container-work{
    background-color: #d92950;
    display: flex;
    flex-direction: column;
    border: 3px solid green;
    width: 100%;
    height: 100%;
}
.slide{
    width: 100%;
    height: 100%;
}

.slide-items{
    width: 100%;
    height: 100%;
    display: flex;
}

footer{
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: space-around;
    margin-top: 70%;
    background-color: #2d2d2d;
    color: #fff;
}
#contact a{
    border: 0px solid #fff;
    color: #d92950;
    text-decoration: none;
}