@font-face{
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf") format("ttf");
    
}
@font-face{
    font-family: "Montserrat";
    src: url("../fonts/1584538824881-Montserrat-Regular.ttf") format("ttf");
    
}

*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    font-family: "Roboto", "Montserrat", sans-serif;
}
section{
    border: 3px solid green;
}
header{
    background-color: #d92950;
    width: 100%;
    height: 12.5%;
    display: flex;
    position: fixed;
    z-index: 5;
}
nav{
    border: 0px solid black;
    width: 100%;
    height: 100%;
    /*position: fixed;*/
    padding: .5rem 1rem;
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
}
li{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}
.menu{
    border: 0px solid navy;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-left: 50%;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

nav .menu{
    justify-content: end;
    width: fit-content;
}

#logo-kda{
    width: 7.5%;
    height: 97%;
}
.menu a {
    display:block;
    min-width: 120px;
    margin: 0.5rem; 
    padding: 0.4rem 0;
    text-align: center;
    color: #fff; 
    text-decoration: none;
}

.menu li {
    list-style-type: none ;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.menu li:hover {
    /*text-decoration: underline 2% #ff046b;*/
    border: 2px solid #ff046b;
    padding-left: -5%;
}

.container{
    width: 100%;
    height: 805%;
    display: flex;
    flex-direction: column;
}

.container-welcome{
    border: 0px solid green;
    width: 100%;
    height: 26%;
    background-color: #d92950;
    background-image: url("../img/hero-background.jpg");
    background-size: cover;
    padding-top: 3.5%;
    padding-bottom: 7.5%;
    margin-top: 5%;
    margin-bottom: 1%;
}
#welcome{
    text-align: center;
    font-family: 'Montserrat';
    line-height: 90px;
    font-size: 5.5vw;
    font-weight: 900;
    color: #fff;
}
h2{
    font-size: 2.5vw;
    color: #fff;    
}
#qualif{
    color: #ffe64d;
}
.bouton-welcome{
    width: 60%;
    height: 10%;
    border: 0px solid rgb(58, 57, 57);
    margin-left: 30.5%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}
.container-welcome a{
    align-items: center;
    justify-content: space-around;   
    border: 2px solid #fff;
    border-radius: 12px;
    background-color: #fff;
    margin-top: 15%;
    padding: 2% 2.5%;
    text-decoration: none;
    color: #d92950;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}
.container-welcome a:hover{
    background-color: transparent;
    color: #fff;
}

#demande{
    margin-left: 2%;
}

.texte-welcome{
    border: 0px solid goldenrod;
    display: flex;
    width: 55%;
    text-align: center;
    margin-left: 22%;
    margin-top:0.5%;
    color: #fff;
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.icone-page{
    width: 87%;
    height: 6.5%;
    border: 0px solid magenta;
    display: flex;
    justify-content: space-around;
    margin-top: 4.5%;
    margin-left: 7.5%;
    opacity: 0.5;
}
.container-developpeurs{
    display: flex;
    border: 0px solid green;
    width: 100%;
    height: 65%;
    background-color: #f1f0f3;
    margin-top: -1%;
    margin-bottom: -2.8%;
}

img{
    border-style: none;
}

#img-section{
    width: 50%;
    height: 60%;
    margin-top: 7%;
    border: 0px solid red;
    position: relative;
}

#img-extern{
    border: 0px solid yellowgreen;
    border-radius: 20px;
    margin-left: -9.5%;
    width: 75.5%;
    height: 70%;
    background-size: cover;
    overflow: hidden;
}

#img-intern{
    position: relative;
    top: -33.7%;
    left: 29.5%;
    border: 0px solid black;
    border-radius: 20px;
    width: 49.6%;
    height: 46.6%;
    overflow: hidden;
}
#kda-campus{
    width: 100%;
    height: 100%;
}
#kda-cohorte{
    width: 100%;
    height: 100%;
}

#text-section{
    border: 3px solid red;
    width: 55%;
    height: 70%;
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    margin-left: -8.5%;
    margin-bottom: -20%;
}
#dev{
    color: #424345;
    font-size: 40px;
    line-height: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 20%;
}

.img-col1{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
}
.img-col1>p{
    border: 0px solid navy;
    width: 100%;
    height: 42%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #444547;
    font-size: 20px;
    line-height: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    
}

#source-code{
    width: 20%;
    height: 45.5%;
    border-bottom: 2px solid #f50000;
    margin-top: 5%;
    padding-bottom: 5%;
}
#qualif-developpeur{
    width: 40%;
    height: 53%;
    margin-top: -16%;
    margin-bottom: 40%;
    margin-left: 0.5%;
}
#chat{
    width: 20%;
    height: 70.5%;
    border-bottom: 2px solid #f50000;
    margin-top: -0.5%;
}
#lang-maternelle{
    width: 40%;
    height: 53%;
    margin-top: -35.3%;
    margin-bottom: 60%;
    margin-left: 4.5%;
    padding-right: 22.4%;
    padding-top: 1%;
}

#cup{
    width: 20%;
    height: 55.5%;
    border-bottom: 2px solid #f50000;
    margin-top: 1%;
    padding-bottom: 5%;
    
}
#prix{
    margin-top: -16%;
    width: 45%;
    height: 53%;
}

#earth{
    width: 20%;
    height: 55.5%;
    border-bottom: 2px solid #f50000;
    padding-bottom: 5%;
}
#fuseau{
    width: 45%;
    height: 53%;
    margin-top: -33%;
    margin-left: 1%;
}

.container-partnair{
    background-color: #d92950;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 0px solid green;
    width: 100%;
    height: 55%;
    padding-bottom: 9%;
}
#work{
    font-size: 40px;
    line-height: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border: 0px solid greenyellow;
    margin-top: 10%;
    margin-bottom: -11%;
}

.slide{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.slide-items{
    border:0px solid palegoldenrod;
    width: 80%;
    height: 30%;
    margin-top: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.slide-item{
    border:0px solid steelblue;
    display: flex;
    justify-content: center;
    width: 48%;
    height: 68.5%;
}

#orange{
    width: 41.5%;
    height: 135%;
    margin-bottom: 25%;
    padding-bottom: 4.5%;
}
#gsma{
    width: 39.5%;
    height: 110%;
    margin-bottom: 25%;
    padding-bottom: 4.5%;
}
#texaf{
    width: 41.5%;
    height: 135%;
    margin-bottom: 25%;
    padding-bottom: 4.5%;
}
#elan{
    width: 50.5%;
    height: 135%;
    margin-bottom: 25%;
    padding-bottom: 4.5%;
}
#digital{
    width: 70.5%;
    height: 135%;
    margin-bottom: 25%;
    padding-bottom: 4.5%;
}

.container-accompagnement{
    border: 0px solid green;
    background-color: #f1eff3;
    width: 100%;
    height: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #421e4b;
    padding-bottom: 25%;
}

.col-projet{
    width: 73.5%;
    height: 60%;
    display: flex;
    flex-direction: row;
}

#projet{
    font-size: 2.5vw;
    color: #3a1543;
}

h3{
    color: #e3003e;
}

.col-projet div{
    width: 99%;
    height: 71%;
    padding: 1%;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#realisation{
    border-top: 4px solid #faf55a;
}
#integration{
    border-top: 4px solid #e62f62;
    margin-left: 2%;
}

.col-projet a{
    align-items: center;
    justify-content: space-around;   
    border: 2px solid #d92950;
    border-radius: 10px;
    background-color: #d92950;
    margin-top: 15%;
    padding: 2.5%;
    text-decoration: none;
    color: #fff;
}

.col-projet a:hover{
    background-color: transparent;
    color: #d92950;
}

.container-accomplissement{
    border: 0px solid green;
    background-color: #d92950;
    width: 100%;
    height: 70%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    color: #fff;
    padding-bottom: 25%;
}

.container-expertise{
    border: 0px solid green;
    background-color: #fff;
    width: 100%;
    height: 70%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding-bottom: 30%;
}
#expert{
    color: #424345;
}

.container-ready{
    border: 0px solid green;
    background-color: #ae3753;
    width: 100%;
    height: 70%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding-bottom: 25%;
}

.container-emploi{
    border: 0px solid green;
    background-color:#f1f0f3;
    width: 100%;
    height: 70%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding-bottom: 25%;
}

#emploi{
    color: #4d4446;
}
#emploi>span{
    color: #d92950;
}
.container-media{
    border: 0px solid green;
    background-color:#111;
    width: 100%;
    height: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 18%;
}
#media{
    margin-top: 7.5%;
    color: #fff;
    font-size: 40px;
    line-height: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.container-media>div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 0px solid #fff;
    width: 50%;
    margin-top: 2.5%;
    margin-bottom: -8.5%;
}

#jeuneaf{
    width: 16.5%;
    height: 35%;
}
#gsma2{

}
#detijd{

}
#digitalaf{

}
#king{

}

.container-soutien{
    border: 0px solid green;
    background-color:#fff;
    width: 100%;
    height: 70%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding-bottom: 25%;
}

#soutien{
    color: #424345;
}

.container-contact{
    border: 0px solid green;
    background-color:#231f2b;
    width: 100%;
    height: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 25%;
}
form{
    display: flex;
    flex-direction: column;
}
form>input, form>select{
    border-style: none;
}

.form-haut{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.souform{
    width: 45%;
    height: 100%;
    border: 3px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.form-bas{
    border: 3px solid white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#contact{
    color: #e1e0e2;
}

footer{
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: space-around;
    margin-top: 70%;
    background-color: #2d2d2d;
    color: #fff;
}
#contact a{
    border: 0px solid #fff;
    color: #d92950;
    text-decoration: none;
}