@font-face{
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf") format("ttf");
    
}
@font-face{
    font-family: "Montserrat";
    src: url("../fonts/1584538824881-Montserrat-Regular.ttf") format("ttf");
    
}

*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    font-family: "Roboto", "Montserrat", sans-serif;
}
a{
    text-decoration: none;
}
section{
    border: 3px solid green;
}
header{
    background-color: #d92950;
    width: 100%;
    height: 10.5%;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 5;
}
nav{
    border: 0px solid black;
    width: 100%;
    height: 100%;
    /*position: fixed;*/
    padding: .5rem 1rem;
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    margin-top: -2%;
}
li{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}
.menu{
    border: 0px solid navy;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-left: 50%;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

nav .menu{
    justify-content: end;
    width: fit-content;
}

#logo-kda{
    width: 7%;
    height: 97%;
    margin-top: 1%;
}
.menu a {
    display:block;
    min-width: 120px;
    margin: 0.5rem; 
    padding: 0.4rem 0;
    text-align: center;
    color: #fff; 
    text-decoration: none;
}

.menu li {
    list-style-type: none ;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.menu li:hover {
    /*text-decoration: underline 2% #ff046b;*/
    border: 2px solid #ff046b;
}

.container{
    width: 100%;
    height: 1050%;
    display: flex;
    flex-direction: column;
}

.container-welcome{
    border: 0px solid green;
    width: 100%;
    height: 26%;
    background-color: #d92950;
    background-image: url("../img/hero-background.jpg");
    background-size: cover;
    padding-top: 3.5%;
    padding-bottom: 7.5%;
    margin-top: 5%;
    margin-bottom: 1%;
}
#welcome{
    text-align: center;
    font-family: 'Montserrat';
    line-height: 90px;
    font-size: 5.5vw;
    font-weight: 900;
    color: #fff;
}
h2{
    font-size: 2.5vw;
    color: #fff;    
}
#qualif{
    color: #ffe64d;
}
.bouton-welcome{
    width: 60%;
    height: 10%;
    border: 0px solid rgb(58, 57, 57);
    margin-left: 30.5%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}
.container-welcome a{
    align-items: center;
    justify-content: space-around;   
    border: 2px solid #fff;
    border-radius: 12px;
    background-color: #fff;
    margin-top: 15%;
    padding: 2% 2.5%;
    text-decoration: none;
    color: #d92950;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}
.container-welcome a:hover{
    background-color: transparent;
    color: #fff;
}

#demande{
    margin-left: 2%;
}

.texte-welcome{
    border: 0px solid goldenrod;
    display: flex;
    width: 55%;
    text-align: center;
    margin-left: 22%;
    margin-top:0.5%;
    color: #fff;
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.icone-page{
    width: 87%;
    height: 6.5%;
    border: 0px solid magenta;
    display: flex;
    justify-content: space-around;
    margin-top: 4.5%;
    margin-left: 7.5%;
    opacity: 0.5;
}
.container-developpeurs{
    display: flex;
    border: 0px solid green;
    width: 100%;
    height: 65%;
    background-color: #f1f0f3;
    margin-top: -1%;
    margin-bottom: -2.8%;
}

img{
    border-style: none;
}

#img-section{
    width: 50%;
    height: 60%;
    margin-top: 7%;
    border: 0px solid red;
    position: relative;
}

#img-extern{
    border: 0px solid yellowgreen;
    border-radius: 20px;
    margin-left: -9.5%;
    width: 521px;
    height: 391px;
    background-size: cover;
    overflow: hidden;
}

#img-intern{
    position: relative;
    top: -42.7%;
    left: 30.2%;
    border: 0px solid black;
    border-radius: 20px;
    width: 347px;
    height: 260px;
    overflow: hidden;
}
#kda-campus{
    width: 100%;
    height: 100%;
}
#kda-cohorte{
    width: 100%;
    height: 100%;
}

#text-section{
    width: 50%;
    display: flex;
    flex-direction: column;
    border: 0px solid black;
    justify-content: center;
    margin-left: -7.5%;
}

#dev{
    width: 742px;
    height: 144px;
    color: #424345;
    font-size: 40px;
    line-height: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: -3.5%;
    margin-bottom: 20%;
}
.text-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -10%;
}
.img-dev{
    width: 50%;
    text-align: center;
    border: 0px solid blue;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}
#dev-fuseau{
    margin-top: -3.5%;
}
.img-dev div{
    width: 50px;
    height: 90px;
    border-bottom: 2px solid #d92950;
    text-align: center;
    margin: auto;
}
.img-dev svg{
    width: 50px;
    height: 64px;
}
.container-partnair{
    background-color: #d92950;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 0px solid green;
    width: 100%;
    height: 55%;
    padding-bottom: -15%;
    margin-bottom: -20%;
}
#work{
    font-size: 40px;
    line-height: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border: 0px solid greenyellow;
    margin-top: 10%;
    margin-bottom: -11%;
}

.slide{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.slide-items{
    border:0px solid palegoldenrod;
    width: 80%;
    height: 30%;
    margin-top: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.slide-item{
    border:0px solid steelblue;
    display: flex;
    justify-content: center;
    width: 234px;
    height: 200px;
    margin: 15% auto;
}

#orange{
    width: 80px;
    height: 80px;
}
#gsma{
    width: 152.283px;
    height: 59.9833px;
}
#texaf{
    width: 72.3px;
    height: 80px;

}
#elan{
    width: 82.3px;
    height: 80px;
}
#digital{
    width: 160px;
    height: 76px;
    margin-bottom: 25%;
    padding-bottom: 4.5%;
}

.container-accompagnement{
    border: 0px solid green;
    background-color: #f1eff3;
    width: 100%;
    height: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #421e4b;
    padding-bottom: 9.5%;
}

.col-projet{
    width: 85.5%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#projet{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #3a1543;
    margin-top: 7%;
    margin-bottom: 3%;
}
.col-projet div{
    width: 99%;
    height: 99%;
    padding: 1%;
    background-color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 4%;
}

#realisation{
    border-top: 10px solid #faf55a;
}

#integration{
    border-top: 10px solid #e62f62;
    margin-left: 2%;
}

#realisation h3, #integration h3{
    color: #d92950;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
}
#realisation p, #integration p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #3a1543;
    margin-bottom: 5%;
}

.col-projet a{
    align-items: center;
    justify-content: space-around;   
    border: 2px solid #d92950;
    border-radius: 10px;
    background-color: #d92950;
    margin-top: 15%;
    padding: 2.5%;
    text-decoration: none;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

.col-projet a:hover{
    background-color: transparent;
    color: #d92950;
}

.container-accomplissement{
    border: 0px solid green;
    background-color: #d92950;
    width: 100%;
    height: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    padding-bottom: 25%;
}
.img-work{
    display: flex;
    justify-content: space-around;
    width: 75%;
    height: 100%;
}

.img-work img{
    border-radius: 20px;
    width: 330px;
    height: 412.5px;
    margin: 0px 30px;
}
.container-work{
    width: 75%;
    height: 90%;
}
.text-image{
    border: 3px solid black;
    display: flex;
    width: 100%;
    height: 40%;
}
.client{
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
}
.drapeau{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
}
.drapeau-pays{
    width: 36px;
    height: 36px;
}
.pays{
    width: 65%;
    background-color: #fff;
    color: #d92950;
    font-family: 'Roboto',sans-serif;
    font-size: 11px;
    line-height: 11px;
    font-weight: 700;
    padding: 2.5%;
}
#accompli{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #fff;
    margin-top: 7%;
    margin-bottom: 7%;
}

.container-expertise{
    border: 0px solid green;
    background-color: #fff;
    width: 100%;
    height: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 30%;
}
#expert{
    color: #424345;
}
.skills{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}



.container-ready{
    border: 0px solid green;
    background-color: #ae3753;
    width: 100%;
    height: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 25%;
    margin-bottom: -25%;
}
#ready{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    margin-top: 7%;
    margin-bottom: 7%;
    color: #fff;

}
.ready-img{
    width: 300px;
    height: 124px;
    justify-content: center;
    align-items: center;
}

.img-ready{
    width: 70px;
    height: 70px;
    margin: 0px auto;
    border: 1px solid #fff;
    border-radius: 10px;
    position: relative;
}

.img-ready:after {
    content: "";
    position: absolute;
    background: url("/img/illustrations/arrow.png") no-repeat;
    background-size: auto;
    width: 100px;
}
#planification{
    width: 250px;
    height: 64px;
    margin: 7% auto;
    padding-top: 1%;
    border: 2px solid #ae3753;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: #fff;
    background-color: #d92950;
}
#planification:hover{
    border: 2px solid #fff;
    background-color: transparent;
}
.appel{
    width: 34px;
    height: 40px;
    margin: 14px auto;
}
#profils{
    width: 34px;
    height: 17px;
    margin: 20px auto;
}
#onboarding{
    width: 34px;
    height: 32px;
    margin: 14px auto;
}

.text-ready{
    width: 270px;
    height: 30px;
    margin: 0px auto;
}
.col-ready{
    display: flex;
    justify-content: space-around;
}
.col-ready h3{
    color: #fff;
}

.container-emploi{
    border: 0px solid green;
    background-color:#f1f0f3;
    width: 100%;
    height: 70%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding-bottom: 6.5%;
}

#emploi{
    color: #4d4446;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: -20%;
}
#emploi>span{
    color: #d92950;
}
.emploi-text{
    width: 42%;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin-left: 5%;
}
.emploi-text p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #424345;
}
#students{
    width: 570px;
    height: 225px;
    margin-top: -15%;
}
.info-emploi{
    width: 270px;
    height: 320px;
    margin-right: 5%;
    margin-bottom: 5%;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 20px;
    background-color: #fff;
}
.info-emploi img{
    width: 50px;
    height: 50px;
}
#container-emploi-info{
    width: 45%;
    border: 0px solid black;
    margin-top: 2.5%;
    margin-left: -4.5%;
}
.container-media{
    border: 0px solid green;
    background-color:#111;
    width: 100%;
    height: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 18%;
}
#media{
    margin-top: 7.5%;
    color: #fff;
    font-size: 40px;
    line-height: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.container-media>div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 0px solid #fff;
    width: 50%;
    margin-top: 2.5%;
    margin-bottom: -8.5%;
}

#jeuneaf{
    width: 16.5%;
    height: 35%;
}
.container-soutien{
    border: 0px solid green;
    background-color:#fff;
    width: 100%;
    height: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 20%;
}

.soutien-partnair{
    display: flex;
    width: 268px;
    height: 129px;
    align-items: flex-start;
    margin-left: 4.5%;
    margin-bottom: 15%;
}
.img-text-partnair{
    width: 100%;
    height: 100%;
    margin: 7%;
    text-align: left;
    font-family:'Monserrat', sans-serif; 
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #424345;
}
.img-text-partnair img{
    width: 270px;
    height: 168px;
    border-radius: 10px;
}
.twitter{
    margin: 5.5%;
}
.twitter a{
    color: #ff5098;
}
#soutien{
    color: #424345;
    margin-top: 7.5%;
    font-size: 40px;
    line-height: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.container-contact{
    border: 0px solid green;
    background-color:#231f2b;
    width: 100%;
    height: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 9%;
}
#contact{
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    color: #e1e0e2;
    margin-top: 6%;
    margin-bottom: 2%;
}

.msg-contact{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
}
.msg-contact span{
    color: #d32950;
}
.msg-contact-bas{
    width: 85%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
    text-align: left;
    margin-left: 7%;
}

.msg-contact-bas a{
    color: #d32950;
}

form{
    width: 100%;
    height: 80%;
    margin-left: -1.5%;
    display: flex;
    flex-direction: column;
}
form label{
    color: #fff;
    margin-left: 3%;
}

form select{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-style: none;
    background-image: url("/img/sort-solid.svg");
    background-position: 98%;
    background-size: cover;
}

form input:focus, form select:focus, form textarea:focus{
    outline: none;
    border: 3px solid #5f226e;
}
.form-haut{
    display: flex;
    margin: 0% 5%;
}
.form-haut input, .form-haut select{
    border-radius: 0px;
    padding: 7px;
    margin-left: 2.5%;
    width: 98%;
}
.souform-left, .souform-right{
    text-align: left;
    width: 50%;
    height: 100%;
    border: 0px solid white;
}
.souform-left{
    margin-left: 1.5%;
}
.souform-right{
    margin-left: 2%;
}
.form-bas{
    text-align: left;
    border: 0px solid white;
    margin: 0% 5%;
}
.form-bas textarea, .form-bas select{
    border-radius: 0px;
    padding: 7px;
    margin-left: 2.5%;
    width: 98%;
}
button{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    width: 9%;
    margin:1 1.5% ;
    text-align: center;
    border: 2px solid #d32950;
    border-radius: 15px;
    color: #fff;
    background-color: #d32950;
    padding: 15px 18px;
    margin-left: 7%;
}
button:hover{
    background-color: transparent;
}

footer{
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: space-around;
    margin-top: 70%;
    background-color: #2d2d2d;
    color: #fff;
}
.container-foot1{
    width: 50%;
    margin-left: 7%;
    font-family: 'Roboto', sans-serif;
    font-style: none;
    font-size: 22px;
    font-weight: 400;
    line-height: 34px;
}

#contact-kda{
    width: 100;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
}

#contact-kda a{
    border: 0px solid #fff;
    color: #d92950;
    text-decoration: none;
}
.social-link{
    width: 100%;
    height: 20%;
}
.social{
    padding: 0%;
    border: 0px solid rgb(23, 92, 197);
    width: 15%;
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
.social a{
    color: #d92950;
}
svg{
    width: 55%;
    height: 55%;
}
.container-foot2{
    width: 50%;
}
.container-champs{
    display: flex;
}
.container-champs input{
    width: 416.467px;
    height: 58px;
    border-radius: 0px;    
}
#valider{
    width: 154.533px;
    height: 58px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: -1.2%;
}